<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/54d8768965.js" crossorigin="anonymous"></script>
    <title>ROBY</title>
</head>

<body>
    <div class="page" id="page">
        <header>
            <nav>
                <ul>
                    <li><a href="../inicio.html">Inicio</a></li>
                    <li><a href="postres.html">Postres</a></li>
                    <li><a href="facturas.html">Facturas</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
	<main id="productos">
		<div class="imgContainer">
                <a href="../inicio.html">
                    <img id="logo" src="../img/logoroby.png" alt="logo de roby">
                </a>
                <img id="torta" src="../img/otro.jpg" alt="Diseño de torta">
            </div>

		<section>
			<table border="2px" cellpadding="10px" cellspacing="10px">
				<tr>
					<th>Postre</th>
					<th>Precio</th>
				</tr>
				<tr>
					<td>Chocotorta</td>
					<td>$750</td>
				</tr>
				<tr>
					<td>Flan</td>
					<td>$500</td>
				</tr>
				<tr>
					<td>Brownie helado</td>
					<td>$1200</td>
				</tr>
			</table>
		</section>
		
	</main>
	<footer>
		<p>Copyright 2022 &copy; - ROBY</p>
		<nav>
			<ul>
				<li>
					<a href="https://www.instagram.com/roby_reposteria/?hl=es-la" target="_blank">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/" target="_blank">
						<i class="fa-brands fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/"target="_blank">
						<i class="fa-brands fa-twitter"></i>
					</a>
				</li>
			</ul>
		</nav>
	</footer>
</div>
</body>

</html>